
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h2>Standard Built-In HTML Helper</h2>
    <h2>About Controller</h2>
</head>
<body>
    <div> 
    </div>
</body>
</html>
